.m-auto    { margin:        auto !important; }
.m-lr-auto { margin-left:   auto !important; margin-right:  auto !important; }
.m-tb-auto { margin-top:    auto !important; margin-bottom: auto !important; }
.m-t-auto  { margin-top:    auto !important; }
.m-r-auto  { margin-right:  auto !important; }
.m-b-auto  { margin-bottom: auto !important; }
.m-l-auto  { margin-left:   auto !important; }

.m-0    { margin:        0px !important; }
.m-lr-0 { margin-left:   0px !important; margin-right:  0px !important; }
.m-tb-0 { margin-top:    0px !important; margin-bottom: 0px !important; }
.m-t-0  { margin-top:    0px !important; }
.m-r-0  { margin-right:  0px !important; }
.m-b-0  { margin-bottom: 0px !important; }
.m-l-0  { margin-left:   0px !important; }

.m-5    { margin:        5px !important; }
.m-lr-5 { margin-left:   5px !important; margin-right:  5px !important; }
.m-tb-5 { margin-top:    5px !important; margin-bottom: 5px !important; }
.m-t-5  { margin-top:    5px !important; }
.m-r-5  { margin-right:  5px !important; }
.m-b-5  { margin-bottom: 5px !important; }
.m-l-5  { margin-left:   5px !important; }

.m-10    { margin:        10px !important; }
.m-lr-10 { margin-left:   10px !important; margin-right:  10px !important; }
.m-tb-10 { margin-top:    10px !important; margin-bottom: 10px !important; }
.m-t-10  { margin-top:    10px !important; }
.m-r-10  { margin-right:  10px !important; }
.m-b-10  { margin-bottom: 10px !important; }
.m-l-10  { margin-left:   10px !important; }

.m-15    { margin:        15px !important; }
.m-lr-15 { margin-left:   15px !important; margin-right:  15px !important; }
.m-tb-15 { margin-top:    15px !important; margin-bottom: 15px !important; }
.m-t-15  { margin-top:    15px !important; }
.m-r-15  { margin-right:  15px !important; }
.m-b-15  { margin-bottom: 15px !important; }
.m-l-15  { margin-left:   15px !important; }

.m-20    { margin:        20px !important; }
.m-lr-20 { margin-left:   20px !important; margin-right:  20px !important; }
.m-tb-20 { margin-top:    20px !important; margin-bottom: 20px !important; }
.m-t-20  { margin-top:    20px !important; }
.m-r-20  { margin-right:  20px !important; }
.m-b-20  { margin-bottom: 20px !important; }
.m-l-20  { margin-left:   20px !important; }

.m-25    { margin:        25px !important; }
.m-lr-25 { margin-left:   25px !important; margin-right:  25px !important; }
.m-tb-25 { margin-top:    25px !important; margin-bottom: 25px !important; }
.m-t-25  { margin-top:    25px !important; }
.m-r-25  { margin-right:  25px !important; }
.m-b-25  { margin-bottom: 25px !important; }
.m-l-25  { margin-left:   25px !important; }

.m-30    { margin:        30px !important; }
.m-lr-30 { margin-left:   30px !important; margin-right:  30px !important; }
.m-tb-30 { margin-top:    30px !important; margin-bottom: 30px !important; }
.m-t-30  { margin-top:    30px !important; }
.m-r-30  { margin-right:  30px !important; }
.m-b-30  { margin-bottom: 30px !important; }
.m-l-30  { margin-left:   30px !important; }

.m-40    { margin:        40px !important; }
.m-lr-40 { margin-left:   40px !important; margin-right:  40px !important; }
.m-tb-40 { margin-top:    40px !important; margin-bottom: 40px !important; }
.m-t-40  { margin-top:    40px !important; }
.m-r-40  { margin-right:  40px !important; }
.m-b-40  { margin-bottom: 40px !important; }
.m-l-40  { margin-left:   40px !important; }

.m-50    { margin:        50px !important; }
.m-lr-50 { margin-left:   50px !important; margin-right:  50px !important; }
.m-tb-50 { margin-top:    50px !important; margin-bottom: 50px !important; }
.m-t-50  { margin-top:    50px !important; }
.m-r-50  { margin-right:  50px !important; }
.m-b-50  { margin-bottom: 50px !important; }
.m-l-50  { margin-left:   50px !important; }

.m-75    { margin:        75px !important; }
.m-lr-75 { margin-left:   75px !important; margin-right:  75px !important; }
.m-tb-75 { margin-top:    75px !important; margin-bottom: 75px !important; }
.m-t-75  { margin-top:    75px !important; }
.m-r-75  { margin-right:  75px !important; }
.m-b-75  { margin-bottom: 75px !important; }
.m-l-75  { margin-left:   75px !important; }

.m-100    { margin:        100px !important; }
.m-lr-100 { margin-left:   100px !important; margin-right:  100px !important; }
.m-tb-100 { margin-top:    100px !important; margin-bottom: 100px !important; }
.m-t-100  { margin-top:    100px !important; }
.m-r-100  { margin-right:  100px !important; }
.m-b-100  { margin-bottom: 100px !important; }
.m-l-100  { margin-left:   100px !important; }

.m-150    { margin:        150px !important; }
.m-lr-150 { margin-left:   150px !important; margin-right:  150px !important; }
.m-tb-150 { margin-top:    150px !important; margin-bottom: 150px !important; }
.m-t-150  { margin-top:    150px !important; }
.m-r-150  { margin-right:  150px !important; }
.m-b-150  { margin-bottom: 150px !important; }
.m-l-150  { margin-left:   150px !important; }

.p-0    { padding:        0px !important; }
.p-lr-0 { padding-left:   0px !important; padding-right:  0px !important; }
.p-tb-0 { padding-top:    0px !important; padding-bottom: 0px !important; }
.p-t-0  { padding-top:    0px !important; }
.p-r-0  { padding-right:  0px !important; }
.p-b-0  { padding-bottom: 0px !important; }
.p-l-0  { padding-left:   0px !important; }

.p-5    { padding:        5px !important; }
.p-lr-5 { padding-left:   5px !important; padding-right:  5px !important; }
.p-tb-5 { padding-top:    5px !important; padding-bottom: 5px !important; }
.p-t-5  { padding-top:    5px !important; }
.p-r-5  { padding-right:  5px !important; }
.p-b-5  { padding-bottom: 5px !important; }
.p-l-5  { padding-left:   5px !important; }

.p-10    { padding:        10px !important; }
.p-lr-10 { padding-left:   10px !important; padding-right:  10px !important; }
.p-tb-10 { padding-top:    10px !important; padding-bottom: 10px !important; }
.p-t-10  { padding-top:    10px !important; }
.p-r-10  { padding-right:  10px !important; }
.p-b-10  { padding-bottom: 10px !important; }
.p-l-10  { padding-left:   10px !important; }

.p-15    { padding:        15px !important; }
.p-lr-15 { padding-left:   15px !important; padding-right:  15px !important; }
.p-tb-15 { padding-top:    15px !important; padding-bottom: 15px !important; }
.p-t-15  { padding-top:    15px !important; }
.p-r-15  { padding-right:  15px !important; }
.p-b-15  { padding-bottom: 15px !important; }
.p-l-15  { padding-left:   15px !important; }

.p-20    { padding:        20px !important; }
.p-lr-20 { padding-left:   20px !important; padding-right:  20px !important; }
.p-tb-20 { padding-top:    20px !important; padding-bottom: 20px !important; }
.p-t-20  { padding-top:    20px !important; }
.p-r-20  { padding-right:  20px !important; }
.p-b-20  { padding-bottom: 20px !important; }
.p-l-20  { padding-left:   20px !important; }

.p-25    { padding:        25px !important; }
.p-lr-25 { padding-left:   25px !important; padding-right:  25px !important; }
.p-tb-25 { padding-top:    25px !important; padding-bottom: 25px !important; }
.p-t-25  { padding-top:    25px !important; }
.p-r-25  { padding-right:  25px !important; }
.p-b-25  { padding-bottom: 25px !important; }
.p-l-25  { padding-left:   25px !important; }

.p-30    { padding:        30px !important; }
.p-lr-30 { padding-left:   30px !important; padding-right:  30px !important; }
.p-tb-30 { padding-top:    30px !important; padding-bottom: 30px !important; }
.p-t-30  { padding-top:    30px !important; }
.p-r-30  { padding-right:  30px !important; }
.p-b-30  { padding-bottom: 30px !important; }
.p-l-30  { padding-left:   30px !important; }

.p-40    { padding:        40px !important; }
.p-lr-40 { padding-left:   40px !important; padding-right:  40px !important; }
.p-tb-40 { padding-top:    40px !important; padding-bottom: 40px !important; }
.p-t-40  { padding-top:    40px !important; }
.p-r-40  { padding-right:  40px !important; }
.p-b-40  { padding-bottom: 40px !important; }
.p-l-40  { padding-left:   40px !important; }

.p-50    { padding:        50px !important; }
.p-lr-50 { padding-left:   50px !important; padding-right:  50px !important; }
.p-tb-50 { padding-top:    50px !important; padding-bottom: 50px !important; }
.p-t-50  { padding-top:    50px !important; }
.p-r-50  { padding-right:  50px !important; }
.p-b-50  { padding-bottom: 50px !important; }
.p-l-50  { padding-left:   50px !important; }

.p-75    { padding:        75px !important; }
.p-lr-75 { padding-left:   75px !important; padding-right:  75px !important; }
.p-tb-75 { padding-top:    75px !important; padding-bottom: 75px !important; }
.p-t-75  { padding-top:    75px !important; }
.p-r-75  { padding-right:  75px !important; }
.p-b-75  { padding-bottom: 75px !important; }
.p-l-75  { padding-left:   75px !important; }

.p-100    { padding:        100px !important; }
.p-lr-100 { padding-left:   100px !important; padding-right:  100px !important; }
.p-tb-100 { padding-top:    100px !important; padding-bottom: 100px !important; }
.p-t-100  { padding-top:    100px !important; }
.p-r-100  { padding-right:  100px !important; }
.p-b-100  { padding-bottom: 100px !important; }
.p-l-100  { padding-left:   100px !important; }

.p-150    { padding:        150px !important; }
.p-lr-150 { padding-left:   150px !important; padding-right:  150px !important; }
.p-tb-150 { padding-top:    150px !important; padding-bottom: 150px !important; }
.p-t-150  { padding-top:    150px !important; }
.p-r-150  { padding-right:  150px !important; }
.p-b-150  { padding-bottom: 150px !important; }
.p-l-150  { padding-left:   150px !important; }

.align-center  { text-align:     center; }
.align-middle  { vertical-align: middle; }
.align-justify { text-align:     justify; }
.align-top     { vertical-align: top; }
.align-right   { text-align:     right; }
.align-bottom  { vertical-align: bottom; }
.align-left    { text-align:     left; }

.relative { position: relative !important; }
.absolute { position: absolute !important; }
.fixed    { position: fixed !important; }
.top      { top:    0; }
.top50    { top:    50%; }
.top-50   { top:    -50%; }
.right    { right:  0; }
.bottom   { bottom: 0; }
.left     { left:   0; }
.left50   { left:   50%; }
.left-50  { left:   -50%; }

.z-0  { z-index: 0; }
.z-1  { z-index: 1; }
.z-2  { z-index: 2; }
.z-3  { z-index: 3; }
.z-4  { z-index: 4; }
.z-5  { z-index: 5; }
.z-6  { z-index: 6; }
.z-7  { z-index: 7; }
.z-8  { z-index: 8; }
.z-9  { z-index: 9; }
.z-10 { z-index: 10; }
.z-11 { z-index: 11; }
.z-12 { z-index: 12; }
.z-13 { z-index: 13; }
.z-14 { z-index: 14; }
.z-15 { z-index: 15; }
.z-16 { z-index: 16; }
.z-17 { z-index: 17; }
.z-18 { z-index: 18; }
.z-19 { z-index: 19; }
.z-20 { z-index: 20; }
.z-21 { z-index: 21; }
.z-22 { z-index: 22; }
.z-23 { z-index: 23; }
.z-24 { z-index: 24; }
.z-25 { z-index: 25; }
.z-999 { z-index: 999; }
.z-9999 { z-index: 999; }