body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.nav_image
{
  position:relative;top: 2px;
  margin: 0 5px;
}

.galleryHeading
{
  position:relative;
  top: 5px;
}

#resultsDiv
{
  height: 250px;
  width: 100%;
}